.c-heading-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.c-heading-2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.c-parent {
    background: oklch(98.5% 0.001 106.423);
}

.c-container {
    max-width: 1200px;
    margin: 0 auto;
}

.c-hero {
    background-color: #f5f5f5;
    padding: 2rem !important;
    text-align: center;
}

.c-img {
  border-radius: 2rem;
}

.c-card {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
}

.c-price {
    color: #e54b00;
    font-size: larger;
    font-weight: bold;
}

.c-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.c-grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.c-skyblue {
    color: #00bfff;
}

.c-default {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.c-flex-container {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10rem;
}

.c-profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}